.gameRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.progress {
  width: 10%;
  height: 20px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: #05808c;
  transition: width 0.2s linear;
}
