.block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(112, 29, 190);
  height: 90vh;
  width: 60vw;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  animation: sizeUp 0.8s;
}

.gameName {
  font-family: 'SuperBubbly', sans-serif;
  color: yellow;
  text-align: center;
  font-size: 4rem;
  -webkit-text-stroke: 2px rgba(249, 151, 4, 0.889);
  text-shadow: 2px 2px 5px black;
}

.logoutBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 115, 0);
  color: yellow;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgb(98, 3, 3);
  font-family: 'SuperBubbly', sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 115, 0);
  height: 13vh;
  width: 40vw;
  font-size: 30px;
  color: yellow;
  text-shadow: 2px 2px 3px black;
  border-radius: 10px;
  border: 0px solid orangered;
  font-family: 'SuperBubbly', sans-serif;
  box-shadow: 1px 2px 3px rgb(98, 3, 3);
  margin-bottom: 15px;
}

.btn:hover,
.logoutBtn:hover {
  background-color: orangered;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes sizeUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
