.gameJoin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.block4 {
  background-color: white;
  gap: 10px;
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.joinInput {
  background-color: rgb(215, 205, 219);
  border: 0px solid black;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 20vw;
}
.gamesList {
  margin-top: 20px;
  max-height: 370px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 6px;
}

.gameCard {
  padding: 12px;
  border-radius: 10px;
  background: orange;
  cursor: pointer;
  width: 20vw;
}

.gameCard:hover {
  background: orangered;
}

.elmCode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.joinPrivateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noItemsMessage {
  color: orangered;
  font-family: 'SuperBubbly', sans-serif;
  font-size: 20px;
  text-align: center;
}
