.gameJoin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.block8 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(112, 29, 190);
  height: 90vh;
  width: 60vw;
  min-height: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  animation: sizeUp 0.8s;
}

.block4 {
  background-color: white;
  gap: 10px;
  height: 70%;
  width: 85%;
  min-width: min-content;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 5vh;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.joinInput {
  background-color: rgb(215, 205, 219);
  border: 0px solid black;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 20vw;
}
.gamesList {
  margin-top: 20px;
  max-height: 370px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 6px;
}

.gameCard {
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  background: orange;
  cursor: pointer;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameCard:hover {
  background: orangered;
}

.elmCode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.joinPrivateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noItemsMessage {
  color: orangered;
  font-family: 'SuperBubbly', sans-serif;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .block8 {
    width: 90vw;
  }

  .block4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
  }

  .joinInput {
    width: 50vw;
  }

  .elmCode {
    height: 20vh;
  }
}
