.lobby-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 70vh;
  width: 50vw;
  min-width: 320px;
  min-height: fit-content;
}
 
.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Lobbyh1 {
  font-family: 'SuperBubbly', sans-serif;
  color: yellow;
  text-align: center;
  font-size: clamp(50px, 7vw, 80px);
  -webkit-text-stroke: 2px rgb(255, 132, 0);
  text-shadow: 2px 2px 5px black;
}

.roomName {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.roomName h2,
.players h2,
.capacity-title,
.qSets-title {
  font-size: clamp(20px, 3vw, 35px);
  text-align: center;
  color: rgb(217, 184, 238);
  text-shadow: 2px 2px 3px black;
  -webkit-text-stroke: 0.5px rgba(83, 14, 118, 0.889);
  font-family: 'SuperBubbly', sans-serif;
}

.roomName h3,
.players h3,
.capacity-body {
  color: white;
  font-size: clamp(24px, 3vw, 25px);
}

.block5 {
  background-color: rgb(255, 174, 0);
  height: 45vh;
  width: 40vw;
  min-height: fit-content;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
}

.leaveBtn {
  background-color: rgb(255, 89, 0);
  cursor: pointer;
  height: 7vh;
  width: 10vw;
  min-width: 9vh;
  min-height: fit-content;
  font-size: clamp(18px, 2vw, 25px);
  color: yellow;
  text-shadow: 2px 2px 3px black;
  border-radius: 10px;
  border: 0px solid orangered;
  font-family: 'SuperBubbly', sans-serif;
  box-shadow: 1px 2px 3px rgb(98, 3, 3);
}

.leaveBtn:hover {
  background-color: orangered;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.buttons {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.left,
.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.left {
  justify-content: start;
  max-width: 50%;
}

.left .courseCard-view{
  width: 90%;
}

.right {
  justify-content: space-between;
  padding-bottom: 75px;
}

.capacity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media (max-width: 700px){
  .left{
    height: auto;
  }
  .right{
    height: auto;
  }
  .block5{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .leaveBtn{
    top: 10px;
  }
}

@media (max-width: 600px){
  .lobby-page{
    min-width: fit-content;
  }
  .block5{
    display:flex;
    flex:column;
    justify-content: center;
    align-items: center;
  }
}