@font-face {
  font-family: "SuperBubbly";
  src: url("../fonts/Super\ Bubbly.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ceb4de;
  background: radial-gradient(
    circle,
    rgba(206, 180, 222, 1) 11%,
    rgba(104, 107, 179, 0.829) 66%
  );
}

.LoginBlock {
  background-color: rgb(109, 29, 184);
  height: 90vh;
  width: 40vw;
  min-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.gameName {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  font-family: "SuperBubbly", sans-serif;
  color: yellow;
  text-align: center;
  font-size: 45px;
  -webkit-text-stroke: 2px rgba(249, 151, 4, 0.889);
  text-shadow: 2px 2px 5px black;
  opacity: 0;
  animation: fadeInBounceUp 1.5s forwards;
}

@keyframes fadeInBounceUp {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(30vh) scale(1.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.LoginCard {
  background-color: beige;
  height: 60vh;
  width: 30vw;
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  animation: fadeInBounceLeft 0.5s forwards;
  animation-delay: 1.5s;
}

@keyframes fadeInBounceLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px) scale(0.7);
  }
  60% {
    opacity: 1;
    transform: translateX(0px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.text {
  font-family: "SuperBubbly", sans-serif;
  color: rgb(217, 184, 238);
  text-align: center;
  font-size: 45px;
  -webkit-text-stroke: 2px rgba(83, 14, 118, 0.889);
  text-shadow: 2px 2px 5px black;
}

a {
  display: block;
  font-family: "SuperBubbly", sans-serif;
  text-decoration: none;
  justify-self: left;
  width: 20vw;
  margin-left: 10px;
  text-align: left;
}

a:active {
  color: orange;
}

input {
  background-color: rgb(215, 205, 219);
  border: 0px solid black;
  margin: 10px;
  text-align: center;
  padding: 10px;
  width: 20vw;
}

input:focus {
  border: 2px dashed purple;
  outline: none;
}

.submitBtn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 3px solid orange;
  border-radius: 15px;
  background-color: yellow;
  margin-top: 5px;
  padding: 10px;
  width: 10vw;
  min-width: 100px;
  color: purple;
  font-size: 17px;
}

.submitBtn:hover {
  transform: translateY(-5px) rotate(-2deg);
  box-shadow: 3px 3px 0 #4b4b4b;
  background-color: rgb(248, 248, 116);
  cursor: pointer;
}

.submitBtn:active {
  transform: translateY(2px) rotate(0deg);
  box-shadow: 3px 3px 0 #000;
  background-color: #ffcc00;
}
.falling-question {
  font-family: "SuperBubbly", sans-serif;
  position: absolute;
  font-size: 50px;
  color: red;
  top: -200px;
  animation: fall 5s linear infinite;
  z-index: 0;
}

#q1 {
  left: 10vw;
  animation-delay: 1.5s;
  animation-direction: normal;
}

#q2 {
  left: 30vw;
  animation-delay: 2.5s;
  animation-direction: reverse;
}

#q3 {
  left: 50vw;
  animation-delay: 3s;
  animation-direction: normal;
}

#q4 {
  left: 70vw;
  animation-delay: 2s;
  animation-direction: reverse;
}

@keyframes fall {
  0% {
    top: -20px;
    transform: rotate(0deg);
  }
  100% {
    top: 90vh;
    transform: rotate(360deg);
  }
}

.error {
  font-family: "SuperBubbly", sans-serif;
  color: crimson;
  text-shadow: none;
  font-size: medium;
  text-align: center;
  width: 20vw;
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 20px; /* popup će biti 20px od vrha */
  left: 50%;
  transform: translateX(-50%); /* samo horizontalno centriranje */
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: drop 0.5s ease-out forwards; /* forwards → ostaje u zadnjem položaju */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup a {
  margin: 0;
  text-align: center;
}

.popupTitle {
  font-family: "SuperBubbly", sans-serif;
  color: rgb(217, 184, 238);
  -webkit-text-stroke: 2px rgba(83, 14, 118, 0.889);
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translate(-50%, -50px); /* start iznad ekrana */
  }
  100% {
    opacity: 1;
    transform: translateX(-50%); /* kraj na top: 20px */
  }
}
