.publicBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 29, 190);
  height: 90vh;
  width: 60vw;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  animation: sizeUp 0.8s;
  padding: 10px;
}

.publicTitle {
  font-family: 'SuperBubbly', sans-serif;
  color: yellow;
  text-align: center;
  font-size: clamp(30px, 4vw, 60px);
  -webkit-text-stroke: 2px rgba(249, 151, 4, 0.889);
  text-shadow: 2px 2px 5px black;
}

.coursesTitle {
  font-family: 'SuperBubbly', sans-serif;
  color: yellow;
  text-align: center;
  font-size: 2rem;
  -webkit-text-stroke: 2px rgba(249, 151, 4, 0.889);
  text-shadow: 2px 2px 5px black;
}

.coursesBlock {
  background-color: white;
  height: 70%;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: visible;
}

.adminBtn {
  position: relative;
  height: 60px;
  top: 28px;
  width: 28%;
  right: 350px;
}

.btn2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 115, 0);
  height: 13vh;
  width: 60vw;
  font-size: clamp(20px, 3.5vw, 30px);
  color: yellow;
  text-shadow: 2px 2px 3px black;
  border-radius: 10px;
  border: 0px solid orangered;
  font-family: 'SuperBubbly', sans-serif;
  box-shadow: 1px 2px 3px rgb(98, 3, 3);
  margin-bottom: 15px;
  margin-left: 0;
}

.btn2:hover {
  background-color: orangered;
  animation: bounce 0.6s;
}

@keyframes sizeUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .publicBlock {
    width: 90%;
  }
  .btn {
    justify-self: center;
  }
}
